@import url(http://weloveiconfonts.com/api/?family=fontawesome);
/* fontawesome */
[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}
@font-face {
    font-family: operator;
    src: url('/fonts/OperatorMono-Light.otf');
}
$headerFontSize: 24px;

body {
    background-color: black;
    margin: 0;
}

header {
    background-color: #161616;
    color: white;
    font-family: 'Scheherazade', serif;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}

#name {
    font-weight: bold;
    font-size: 50px;
    padding: 8px 0;
}

.social {
    display: inline-block;
    float: right;
    width: auto;
}

.nav-item {
    display: inline-block;
    font-size: 16px;
    height: 45px;
    padding: 14.5px 0 0 0;
    width: 15%;
}

nav {
    background-color: white;
    color: rgba(0, 0, 0, 0.7);
    transition: color.25s linear;
}

nav:hover {
    color: rgba(0, 0, 0, 1);
}

main{
    color: white;
}

.portfolio-item-image{
    background: url('/img/neighborhood-map.png') center/cover no-repeat;
    display: inline-block;
    height: calc(100vh - 165px);
    opacity: .4;
    width: 50%;
}
.portfolio-item-desc{
    display: inline-block;
}
